@font-face {
  font-family: "Actor";
  src:
      url("../assets/fonts/Actor-Regular.woff2") format("woff2"),
      url("../assets/fonts/Actor-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


