@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-weight: 400;
  display: flex;
  font-style: normal;
  flex-direction: column;
  font-family: $ff-actor;
  margin: 0;
  min-height: 100vh;
  min-width: 375px;
  padding: 0;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
