// Colors

$color-white: #ffffff;
$color-black: #171717;
$color-orange: #FC6D3E;
$color-gray: #A4A4A4;
$color-light-gray: #AAAAAA;
$color-dark-blue: #11253D;
$color-gainsboro: #F5F5F5;
$color-mischka: #E8E8E8;


$color-white-50: rgba(255, 255, 255, 0.5);


// Typography

$ff-actor: "Actor", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
