@use "../global/variables" as *;

.header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: $color-white;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 15px 30px;
  }

  &__logo-container {
    border-right: 1px solid $color-mischka;
    min-height: 69px;
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    padding: 5px;
  }

  &__logo {
    width: 184px;
    height: 30px;
  }

  &__search {
    position: relative;
    width: 100%;
  }

  &__search-input {
    width: 100%;
    padding: 14px 44px;
    border: none;
    background-color: $color-gainsboro;
    border-radius: 30px;
  }

  &__search-input::placeholder {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-gray;
  }

  &__search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }

  &__user-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 13px;
    background-color: $color-gainsboro;
    border-radius: 30px;
    max-width: 246px;
    width: 100%;
  }

  &__user-icon {
    width: 42px;
    height: 42px;
  }

  &__user-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-black;
  }

  &__arrow-icon {
    width: 5px;
    height: 9px;
    margin: auto 0 auto auto;
  }
}
