@use "../global/variables" as *;

.player {
  padding: 20px 30px;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  min-height: 100px;
  gap: 84px;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__name-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
  }

  &__song-name {
    display: inline;
    color: $color-black;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
  }

  &__favorite-btn {
    display: inline;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
  }

  &__favorite-icon {
    width: 24px;
    height: 24px;
  }

  &__song-info {
    color: $color-light-gray;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01em;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 680px;
    gap: 6px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  &__controls-btn {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__time {
    display: flex;
    gap: 12px;
    width: 100%;
  }

  &__time-number {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: $color-light-gray;
  }

  &__timeline {
    width: 100%;
    height: 4px;
    border-radius: 75px;
    background-color: $color-mischka;
  }

  &__volume {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  &__volume-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &__volume-line {
    position: relative;
    width: 72px;
    height: 4px;
    background-color: $color-mischka;
    border-radius: 39px;
  }

  &__volume-current {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $color-orange;
  }
}
