@use "../global/variables" as *;

.tracks {
  display: flex;
  flex-direction: column;
  padding: 35px 0 82px;

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: $color-dark-blue;
    margin-bottom: 22px;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__song-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-black;
  }

  &__band-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-light-gray;
  }

  &__album-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-black;
  }

  &__date {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-light-gray;
  }

  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-light-gray;
    margin: 0 25px 0 0;
  }

  &__favorite-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  &__options-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  tr {
    border-bottom: 1px solid $color-mischka;
    width: 100%;
  }

  th {
    padding: 10px 8px;
    color: $color-gray;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: start;
  }

  td {
    position: relative;
    padding: 14px 8px;
    height: 88px;
  }

  td:nth-child(2) {
    display: flex;
    gap: 10px;
  }
}
